<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cse4340"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.BLUETOOTH" >
    </uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" >
    </uses-permission>

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cse4340.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cse4340.Setup_meeting"
            android:label="@string/title_activity_setup_meeting" >
            <meta-data
                android:name="android.suppport.PARENT_ACTIVITY"
                android:value="com.cse4340.appointment.maker.MainActivity" />
        </activity>
        <activity
            android:name="com.finalproject.SelectAttendees"
            android:label="@string/title_activity_select_attendees" >
            <meta-data
                android:name="android.suppport.PARENT_ACTIVITY"
                android:value="com.cse4340.MainActivity" />
        </activity>
        <activity
            android:name="com.finalproject.ListPairedDevices"
            android:label="@string/title_activity_list_paired_devices"
            android:parentActivityName="com.cse4340.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cse4340.MainActivity" />
        </activity>
    </application>

</manifest>